.center-box {
	width: 870px;
	height: 237px;
	background-color: midnightblue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.center-item {
	width: 83px;
	height: 83px;
	background-color: moccasin;
}
#navbar {
	width: 888px;
	height: 74px;
	display: flex;
	align-items: center;
	/* justify-items: left; */
	/* justify-content: space-evenly; */
	background-color: cornflowerblue;
}
img {
	height: 48px;
	width: auto;
	margin-left: 13px;
	display: inline-block;
}
h1 {
	width: 130px;
	margin-left: 33px;
	font-size: medium;
	color: aliceblue;
	font-family: Montserrat, sans-serif;
}
ul {
	width: 543px;
	margin-left: 42px;
	padding: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul li {
	/* width: 95px; */
	margin: 20px;
	display: inline-block;
}
ul li a {
	font-size: x-small;
	color: aliceblue;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
}